body {
    margin: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav {
    display: flex;
    gap: 10px;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  section {
    width: 50%;
    background: #eee;
    padding: 4%;
  }
  
  section:nth-child(even) {
    background: #ddd;
  }
  
  h2 {
    width: 100%;
  }

  .homepage-image {
    width: 100%;
  }

  .hero {
    text-align: center;
  }