body {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .margin {
    margin: 0 30px;
  }

  main {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    align-items: center;
  }

  h1 {
    color: #00B48A;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 0;
  }

  h2 {
    color: #2C5950;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }

  h3 {
    color: #00B48A;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 2.5;
    margin-top: 0;
    text-align: center;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 380px;
    margin-right: 10px;
    min-width: 450px;
  }

  nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
    color: #00B48A;
}
  
  .homepage-image {
    width: 100%;
  }

  section.hero {
    text-align: center;
    padding-top: 60px;
    align-self: normal;
    margin: 0 20px;
  }

  section.hero .homepage-text {
    padding-bottom: 0;
  }

  section.hero h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  section.hero h3 {
    margin-top: 3;
    margin-bottom: 0;
  }

  .homepage-text {
    padding-top: 40px;
  }

  @media screen and (max-width: 700px) {
    main{
        grid-template-columns: 1fr;
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    margin-right: 0;
    height: 20px;
    width: 215px;
}

.search-bar button {
    padding: 5px;
    background-color: #00B48A; 
    color: white;
    border-style: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    height: 34px;
}

@media screen and (max-width: 700px) {
    header {
        flex-direction: column; 
        align-items: center; 
    }

    nav {
        margin: 0 0; 
        min-width: unset;
    }

    nav a {
        white-space: nowrap;
    }

    .search-bar {
        margin-top: 10px; 
        width: 100%;
    }

    .search-bar input {
        flex: 1;
        height: 28px;
    }

    .search-bar button {
        width: 80px;
        height: 40px;
    }
}

.eboard-image {
    width: 50%;
    margin-left: 5px;
    margin-right: 10px;
}

.eboard-member {
    display: flex;
    align-items: center;
}

.eboard-text {
    font-size: 16px;
    margin-top: 3px;
    line-height: 2;
    text-align: left;
}

.eboard-title {
    font-size: 18px;
    font-style: italic;
}

.footer {
  margin-top: auto;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .footer-icons a {
    margin-right: 10px;
  }
  
  .footer-icons img {
    width: 40px; 
  }

.center-headings {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}


 