body {
    margin: 0;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    align-items: center;
  }

  section {
    background: hsl(0, 0%, 100%);
    padding: 0%;
  }

  section:nth-child(even) {
    background: #ffffff;
  }

  .margin {
    margin: 0 20px;
  }

  h2 {
    font-size: 25px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 380px;
    margin-right: 10px;
    min-width: 450px;
  }

  nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
    color: #00B48A;
}
  

  .homepage-image {
    width: 100%;
  }

  section.hero {
    text-align: center;
    padding-top: 60px;
    align-self: normal;
    margin: 0 20px;
  }

  section.hero .homepage-text {
    padding-bottom: 0;
  }

  secition.hero h2 {
    margin-top: 0;
  }

  section.hero h3 {
    margin-top: 0;
  }

  h3 {
    font-size: 25px;
    color: #2C5950;
  }

  p {
    font-size: 20px;
  }

  .homepage-text {
    
    padding-top: 40px;
  }


  @media screen and (max-width: 700px) {
    main{
        grid-template-columns: 1fr;
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    margin-right: 0;
    height: 20px;
    width: 215px;
}

.search-bar button {
    padding: 5px;
    background-color: #00B48A; 
    color: white;
    border-style: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    height: 34px;
}

@media screen and (max-width: 700px) {
    header {
        flex-direction: column; 
        align-items: center; 
    }

    nav {
        margin: 0 0; 
        min-width: unset;
    }

    nav a {
        white-space: nowrap;
    }

    .search-bar {
        margin-top: 10px; 
        width: 100%;
    }

    .search-bar input {
        flex: 1;
        height: 28px;
    }

    .search-bar button {
        width: 80px;
        height: 40px;
    }
}





 